////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
   background-color: #fff;
}

.menu {
   background-color: #004f4f !important;
   font-family: 'Ubuntu', sans-serif;
   height: 48px !important;
}

.menu .pure-menu-heading {
   color: #fff !important;
   font-weight: 800;
   font-size: 150% !important;
}

.menu ul {
   float: right;
   height: 100% !important;
   display: table !important;
   padding-right: 5px !important;
}

.menu li {
   height: 100% !important;
   display: table-cell !important;
}

.menu li a {
   margin-left: 3px;
   margin-right: 3px;
   padding-right: 8px !important;
   padding-left: 8px !important;

   color: #fff !important;
   font-size: 100% !important;

   border: 1px solid #c2feff;
   border-radius: 5px;
}

.menu a:hover {
   background-color: #006868 !important;
   color: #fff !important;
}

.main-svg {
   margin-top: 5%;
   border-style: solid;
   border-width: 1px;
   border-color: #008080;

   box-shadow: 5px 5px 10px -8px rgba(0,0,0,0.75);
}

.github-fork-ribbon {
   background-color: #1f1f1f;
}