////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.menu {
   background-color: teal !important;
   font-family: 'Ubuntu', sans-serif;
   height: 48px !important;
}

.menu .pure-menu-heading {
   color: #fff !important;
   font-weight: 800;
   font-size: 150% !important;
}

.menu ul {
   float: right;
   height: 100% !important;
   display: table !important;
}

.menu li {
   height: 100% !important;
   display: table-cell !important;
}

.menu li a {
   color: #c2feff !important;
   font-size: 100% !important;
}

.menu a:hover {
   background-color: teal !important;
   color: #fff !important;
}

.main-svg {
   margin-top: 5%;
   border-style: solid;
   border-width: 1px;
   border-color: #008080;
}

.github-fork-ribbon {
   background-color: #1f1f1f;
}